<!DOCTYPE html>

<html>
  <head>
    <title>Timestamp Microservice</title>
    <link
      rel="shortcut icon"
      href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="container">
      <h2>API Projects</h2>
      <h4>One server to complete them all :)</h4>
    </div>
    <div class="container">
      <h4>Project 3</h4>
    </div>
    <form action="/action_page.php">
      <label for="posturl">Url to be posted</label><br />
      <input type="text" id="posturl" name="posturl" value="Your URL" /><br />
      <input type="submit" value="Submit" />
    </form>
    <div class="container">
      <h4>Project 4</h4>
    </div>
    <form action="/action_page.php">
      <label for="newuser">Create a New User</label><br />
      <input type="text" id="newuser" name="newuser" value="newuser" /><br />
      <input type="submit" value="Submit" />
    </form>
    <form action="/action_page.php">
      <label>Add exercises</label><br />
      <input type="text" id="userid" name="userid" value="userid" /><br />
      <input type="text" id="description" name="description" value="description" /><br />
      <input type="text" id="duration" name="duration" value="duration" /><br />
      <input type="text" id="date" name="date" value="date" /><br />
      <input type="submit" value="Submit" />
    </form>
    <form action="/action_page.php">
      <label>Get list of exercises</label><br />
      <input type="text" id="getid" name="userid" value="userid" /><br />
      <input type="text" id="datefrom" name="datefrom" value="from date" /><br />
      <input type="text" id="dateto" name="dateto" value="to date" /><br />
      <input type="text" id="limit" name="limit" value="limit" /><br />
      <input type="submit" value="Get" />
    </form>
    <p>
      The idea of creating one backend for all project I have learned here :
      https://microservices-api.glitch.me/
    </p>
    <div class="footer"></div>
  </body>
</html>
